.button-basket{
    display: flex;
    position: relative;
    align-items: center;
    background-color: inherit;
    justify-content: center;
    width: 70px;
    height: 70px;
    .basket-counter{
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        text-align: center;
        color: white;
        line-height: 25px;
        font-weight: bold;
        
    }
}
.add{
        background-color: orangered; 
    
}
